@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  --background-color: #343541;
  --text-color: #fff;
  --background-color2: #40414f;
  --ai-background-color: #40414F;
  --button-background-color: #202123;

  
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: #fff;
  --background-color2: #fff;
  --ai-background-color: #f7f7f8;
  --text-color: #000;
  --button-background-color: #ececf1;
}

.App {
   text-align: center;
   display: flex;
}

.sidemenu {
  width: 260px;
  padding: 10px;
  background-color: #202123;
}

.mode {
  position: relative;
  top: 90%;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  padding: 19px;
  display: flex;
  align-items: center;
}
.light-mode span {
  padding-top: 2px;
  padding-left: 10px;
}
.dark-mode span {
  padding-top: 2px;
  padding-left: 10px;
}

.dark-mode,
.light-mode {
  position: absolute;
}
.light-mode {
  display: flex;
  align-items: center;
  opacity: 1;
}
.dark .light-mode {
  opacity: 0;
}

.dark-mode{
  opacity: 0;
  display: flex;
  align-items: center;
}
.dark .dark-mode {
  opacity: 1;
}

.mode:hover {
  padding: 19px;
  background-color: #2b2c2f;
  border-radius: 5px;
}

#moon {
  width: 17px;
  transform: rotate(-30deg);
}
#sun {
  width: 17px;
}

.chatbox {
  flex: 1;
  position: relative;
}

.side-menu-button {
  padding: 12px;
  border: 1px solid rgb(140, 138, 138);
  border-radius: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  transition: ease 0.25s all;
  font-size: 14px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.side-menu-button .plus {
  margin-right: 12px;
  margin-top: -1.5%;
}
.side-menu-button:hover {
 background-color: #2b2c2f;
}
.chat-input-holder span {
  text-decoration: underline;
}

.chat-input-textarea {
  background-color: var(--background-color2);
  width: 75%;
  padding: 15px;
  color: var(--text-color);
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: 20%;
  right: 27%;
  padding: 0 5px;
  padding-top: 5px;
  border-radius: 5px;
}
.send {
  transform: rotate(90deg);
  color: #acacbe;
}
button:hover {
  padding: 0 5px;
  padding-top: 5px;
  background-color: var(--button-background-color);
}

form img {
  width: 25px;
  height: 25px;
}

#chat_container {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 20px;
  scroll-behavior: smooth;
} 

 #chat_container {
  flex: 1;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 80px;
  scroll-behavior: smooth;
} 

/* hides scrollbar */
 #chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: var(--ai-background-color);
  border: 1px solid transparent;
}


.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 60px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #5436DA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}
form {
  position: absolute;
  bottom: 2%;
  right: 0;
  left: 0;
  margin-left: 18%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.chatbox span {
  text-decoration: underline;
}
.message {
  text-align: start;
  padding-left: 2%;
  color: var(--text-color);
  font-size: 20px;
  width: 100%;
  overflow-x: scroll; 

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
   white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
} 

/* hides scrollbar */
 .message::-webkit-scrollbar {
   display: none;
  }
  textarea {
    resize: none;
    overflow-y: none;
}



@media screen and (max-width: 992px) {
  .App {
    display: contents !important;
 }
 
 .sidemenu {
  width: 100% !important;
   padding: 10px;
   background-color: #202123;
 }

 #chat_container {
  height: 78vh;
} 
 .chat-input-textarea {
  width: 90%;
}

button {
  right: 12%;
}
form {
  left: -12%;
  margin-left: 18%;
}
.chat {
  padding-left: 0px;
}
}